@font-face {
  font-family: 'English157 BT';
  src: url('../fonts/English157BT-Regular.eot');
  src: url('../fonts/English157BT-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/English157BT-Regular.woff2') format('woff2'), url('../fonts/English157BT-Regular.woff') format('woff'), url('../fonts/English157BT-Regular.ttf') format('truetype'), url('../fonts/English157BT-Regular.svg#English157BT-Regular') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff2') format('woff2'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
  color: #3e3e3e;
  text-align: center;
}
main {
  font-family: 'Century Gothic', sans-serif;
}
.logo {
  margin-left: 0;
}
h2 {
  display: inline-block;
  position: relative;
  padding-top: 4.5rem;
  font-size: 2.6rem;
}
.menu {
  text-align: center;
  display: inline-block;
  transition: all 0.2s;
  text-decoration: none;
  width: 100px;
  color: #3e3e3e;
}
.menu_3 {
  width: 130px;
}
.menu_mobile {
  margin-top: 1rem;
}
.menumob {
  display: none;
  z-index: 9;
  background-color: #e9e9e9;
  position: fixed;
  padding: 30% 100%;
  padding-bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.menumob_logo {
  display: inline-block;
  transform: translateX(-18%);
}
.menumob_text {
  display: block;
  font-size: 3.5rem;
  padding-top: 6rem;
}
.menumob_close {
  position: absolute;
  top: 4%;
  right: 33%;
}
.menu::after {
  text-decoration: none;
  content: '';
  display: block;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: #e94854;
  transition: all 0.2s;
}
.menu:hover {
  text-decoration: none;
  color: #e94854;
}
.menu:hover::after {
  transform: scaleX(1);
}
.menu:active {
  color: #e94854;
}
.content .fotorama__nav-wrap {
  display: none;
}
.content .fotorama .main_header {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  text-align: center;
  font-family: 'English157 BT';
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.8;
}
.content .fotorama .main_header::after {
  content: '';
  display: block;
  width: 50%;
  height: 0.2rem;
  margin: 0 auto;
  transform: translateY(1.5rem);
  background-color: #e94854;
}
.content .fotorama .main_text {
  text-align: left;
  font-family: 'Century Gothic';
  font-size: 2rem;
}
.content .btn_main {
  margin-top: 4rem;
  text-align: center;
  width: 210px;
  height: 60px;
  border: 3px solid #e94854;
  border-radius: 30px;
  font-size: 2.5rem;
  font-family: 'Century Gothic';
  font-variant: small-caps;
  font-weight: bold;
}
.content .btn_main:hover {
  border: 1px solid #e94854;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #e94854;
}
.servis_header {
  line-height: 0.8;
  display: block;
  margin: 3rem auto;
  text-align: center;
  font-family: 'English157 BT';
  font-size: 4rem;
  font-weight: bold;
  color: #3e3e3e;
}
.servis_header::after {
  content: '';
  display: block;
  width: 20%;
  height: 0.2rem;
  margin: 0 auto;
  transform: translateY(1.5rem);
  background-color: #e94854;
}
.servis_header_h3 {
  font-size: 3rem;
}
.servis_dop {
  margin: 3rem auto;
}
.servis_type1,
.servis_type2,
.servis_type3,
.servis_type4,
.servis_type5,
.servis_type6 {
  text-align: center;
  border: 1px solid #e9e9e9;
}
.servis_type1:hover,
.servis_type2:hover,
.servis_type3:hover,
.servis_type4:hover,
.servis_type5:hover,
.servis_type6:hover {
  text-decoration: none;
  border: 1px solid #ffffff;
  box-shadow: 0 0 15px #ffffff, 0 0 10px rgba(0, 0, 0, 0.5);
}
.servis_text {
  color: #3e3e3e;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 2rem;
  margin-bottom: 5rem;
}
.menu_mobile {
  margin-top: 1.4rem;
}
.our {
  background-color: #e9e9e9;
  padding-bottom: 3rem;
  margin-top: 4.7rem;
}
.our_text {
  margin-top: 10rem;
}
.our_img {
  margin-top: 3rem;
}
.reviews {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.reviews .symbol {
  margin-top: 0;
  transform: translateX(7rem);
}
.reviews .c_icone {
  margin-top: 0;
  transform: translateX(-13rem);
}
.reviews_box {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.reviews_text {
  color: #3e3e3e;
  text-align: center;
  font-family: 'Century Gothic';
  font-size: 2rem;
  margin-bottom: 0;
}
.reviews_header {
  line-height: 0.8;
  display: inline-block;
  font-family: 'Century Gothic';
  font-size: 2rem;
  font-weight: bold;
  color: #3e3e3e;
  margin-top: 30px;
}
.reviews_header_c {
  color: #e94854;
}
.describe {
  background: url(../img/describe.jpg) center center no-repeat;
}
.describe_form {
  padding: 50px auto;
  text-align: center;
  padding-bottom: 50px;
}
.describe input {
  display: inline-block;
  border: 3px solid #e94854;
  height: 50px;
  z-index: -9;
  text-align: center;
  font-family: 'Century Gothic';
}
.describe input:hover {
  border: 1px solid #e94854;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #e94854;
}
.describe input:focus {
  outline: none;
}
.describe .in {
  background-color: #e9e9e9;
  border-radius: 30px 0 0 30px;
  font-size: 2rem;
}
.describe_btn {
  display: inline-block;
  width: auto;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Century Gothic';
  color: #3e3e3e;
  transform: translate(-5px, 2px);
  border-radius: 0 30px 30px 0;
  font-variant: small-caps;
}
.modal_window {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
}
.modal_window_dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #3e3e3e;
  opacity: .7;
}
.modal_window_block {
  position: absolute;
  width: 30rem;
  height: 30rem;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.modal_window_block_text {
  font-family: 'Century Gothic';
  font-size: 2rem;
  margin-top: 5rem;
  color: #3e3e3e;
}
.modal_window_block_btn {
  margin-top: 5rem;
  font-family: 'Century Gothic';
  display: inline-block;
  width: auto;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3e3e3e;
  font-variant: small-caps;
  border-radius: 30px;
  width: 21rem;
  height: 6rem;
  padding: 1rem;
  border: 3px solid #e94854;
  cursor: pointer;
}
.modal_window_block_btn:hover {
  border: 1px solid #e94854;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #e94854;
}
@media (max-width: 991.98px) {
  .reviews {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .reviews .c_icone {
    margin-top: 50px;
  }
  .our_img {
    display: inline-block;
    margin: 10px auto;
  }
  .servis_text {
    margin-top: 30px;
  }
  .header {
    display: none;
  }
  .slider_comp {
    display: none;
  }
  .slider_mobile {
    background-color: #e9e9e9;
  }
  .our_img {
    left: 10rem;
  }
  .describe .in {
    border-radius: 30px;
  }
  .describe_btn {
    border-radius: 30px;
  }
}
@media (min-width: 992px) {
  .header_mobile {
    display: none;
  }
  .slider_mobile {
    display: none;
  }
  .main1 {
    padding: 8rem;
    background: url(../img/main_1.jpg) 40% 30% no-repeat;
  }
  .main2 {
    padding: 8rem;
    background: url(../img/main_2.jpg) 30% 30% no-repeat;
  }
  .main3 {
    padding: 8rem;
    background: url(../img/main_3.jpg) 20% 30% no-repeat;
  }
}
