@font-face {
	font-family: 'English157BT';
	src: url('../fonts/English157BT-Regular.eot');
	src: local('☺'), url('../fonts/English157BT-Regular.woff') format('woff'), url('../fonts/English157BT-Regular.ttf') format('truetype'), url('../fonts/English157BT-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
  font-size: 10px;
  color: #3e3e3e;
  text-align: center;
}
main {
  font-family: 'Montserrat', sans-serif;
}
.logo {
  margin-left: 0;
}
h2 {
  display: inline-block;
  position: relative;
  padding-top: 4.5rem;
  font-size: 2.6rem;
}
.menu {
  text-align: center;
  display: inline-block;
  transition: all 0.2s;
  text-decoration: none;
  width: 100px;
  color: #3e3e3e;
}
.menu_3 {
  width: 130px;
}
.menu_mobile {
  margin-top: 1rem;
}
.menumob {
  display: none;
  z-index: 9;
  background-color: #e9e9e9;
  position: fixed;
  padding: 30% 100%;
  padding-bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.menumob_logo {
  display: inline-block;
  transform: translateX(-18%);
}
.menumob_text {
  display: block;
  font-size: 3.5rem;
  padding-top: 6rem;
}
.menumob_close {
  position: absolute;
  top: 4%;
  right: 33%;
}
.menu::after {
  text-decoration: none;
  content: '';
  display: block;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: #e94854;
  transition: all 0.2s;
}
.menu:hover {
  text-decoration: none;
  color: #e94854;
}
.menu:hover::after {
  transform: scaleX(1);
}
.menu:active {
  color: #e94854;
}
.text_header {
  line-height: 0.8;
  display: block;
  margin: 3rem auto;
  text-align: center;
  font-family: 'English157BT';
  font-size: 4rem;
  font-weight: bold;
  color: #3e3e3e;
}
.text_header::after {
  content: '';
  display: block;
  width: 20%;
  height: 0.2rem;
  margin: 0 auto;
  transform: translateY(1.5rem);
  background-color: #e94854;
}
.service {
  margin-top: 2rem;
}
.service_struct {
  width: 40rem;
  height: 33.5rem;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  padding: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.service_struct_wig {
  top: 29.5rem;
  left: 85rem;
}
.service_struct_manicure {
  padding-top: 6rem;
  top: 83.5rem;
  left: 85rem;
}
.service_struct_wax {
  padding-top: 6rem;
  top: 137.6rem;
  left: 85rem;
}
.service_struct_relax {
  top: 191.3rem;
  left: 85rem;
}
.service_struct_mask {
  top: 245.3rem;
  left: 85rem;
}
.service_struct_piercing {
  padding-top: 8rem;
  top: 299.3rem;
  left: 85rem;
}
.service_last {
  margin-bottom: 5rem;
}
.parallax-mirror {
  margin-top: 2.5rem;
  height: 400px;
  width: 800px;
}
.text {
  color: #3e3e3e;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 2;
}
.text::after {
  content: '';
  display: block;
  width: 31.5rem;
  height: 1.2px;
  background-color: #3e3e3e;
}
.text:hover {
  cursor: pointer;
  text-decoration: none;
  color: #e94854;
}
.text:hover::after {
  background-color: #e94854;
}
.modal_window {
  position: absolute;
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
}
.modal_window_dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #3e3e3e;
  opacity: .7;
}
.modal_window_block {
  position: absolute;
  width: 80rem;
  height: 50rem;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
.modal_window_block_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: left;
}
.modal_window_block_text ul {
  color: #e94854;
}
.modal_window_block_text li p {
  color: #3e3e3e;
}
.modal_window_block_text td {
  width: 1000rem;
  padding-left: 7rem;
}
.modal_window_block_btn {
  margin-top: 5rem;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  width: auto;
  background-color: #e9e9e9;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3e3e3e;
  font-variant: small-caps;
  border-radius: 30px;
  width: 21rem;
  height: 6rem;
  padding: 1rem;
  border: 3px solid #e94854;
  cursor: pointer;
}
.modal_window_block_btn:hover {
  border: 1px solid #e94854;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  color: #e94854;
}
@media (max-width: 991.98px) {
  .header {
    display: none;
  }
  .service_struct_wig {
    top: 26.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .service_struct_manicure {
    padding-top: 6rem;
    top: 80.6rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .service_struct_wax {
    padding-top: 6rem;
    top: 134.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .service_struct_relax {
    top: 188.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .service_struct_mask {
    top: 242.4rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .service_struct_piercing {
    padding-top: 8rem;
    top: 296.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .parallax-mirror {
    margin-top: 2.5rem;
    height: 400px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .header_mobile {
    display: none;
  }
}
