@font-face {
    font-family: 'English157 BT';
    src: url('English157BT-Regular.eot');
    src: url('English157BT-Regular.eot?#iefix') format('embedded-opentype'),
        url('English157BT-Regular.woff2') format('woff2'),
        url('English157BT-Regular.woff') format('woff'),
        url('English157BT-Regular.ttf') format('truetype'),
        url('English157BT-Regular.svg#English157BT-Regular') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.eot');
    src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff'),
        url('CenturyGothic.ttf') format('truetype'),
        url('CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

