@font-face {
  font-family: 'Freehand575 BT';
  font-style: italic;
  font-weight: normal;
  src: url('../site2/fonts/Freehand575BT-RegularB.eot');
  src: url('../site2/fonts/Freehand575BT-RegularB.eot?#iefix') format('embedded-opentype'), url('../site2/fonts/Freehand575BT-RegularB.woff2') format('woff2'), url('../site2/fonts/Freehand575BT-RegularB.woff') format('woff'), url('../site2/fonts/Freehand575BT-RegularB.ttf') format('truetype'), url('../site2/fonts/Freehand575BT-RegularB.svg#Freehand575BT-RegularB') format('svg');
}
.main_topmenu {
  background: linear-gradient(180deg, #ffffff, #b3b3b3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 90px;
}
.main_topmenu .topmenu {
  margin-top: 0px;
}
.main_topmenu .topmenu .menubtn {
  transform: translateY(-5px);
  display: inline-block;
  margin-top: 35px;
  margin-right: 23px;
  text-align: inherit;
}
.main_topmenu .topmenu .menubtn .menutext {
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #555c66;
}
.main_topmenu .topmenu .menubtn .menutext:hover {
  text-decoration: none;
  color: #34ada7;
}
.logo {
  transform: translateY(2px);
  font-family: 'Freehand575 BT';
  font-size: 60px;
  color: #34ada7;
}
.logo_img {
  transform: translateY(-9px);
}
.logo_sm {
  transform: translateY(2px);
  font-family: 'Freehand575 BT';
  font-size: 60px;
  color: #34ada7;
}
.logo_sm_img {
  transform: translateY(-9px);
}
.sm_top {
  background: linear-gradient(180deg, #ffffff, #b3b3b3);
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  width: 100%;
}
.sm_top .btn_menu {
  transform: translateY(20px);
}
.move video {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.move_text {
  border-radius: 160px 10px;
  width: 60%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Freehand575 BT';
  font-size: 80px;
  color: #34ada7;
  animation: move_header 2s 1;
  z-index: 1;
  padding: 10px 10px 10px 10px;
  line-height: 0.8;
}
.vd {
  width: 100%;
  height: 800px;
}
.about_header {
  text-align: center;
  font-family: 'Freehand575 BT';
  font-size: 80px;
  color: #555c66;
  line-height: 0.8;
}
.about_data {
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  color: #555c66;
}
.about_data_block {
  z-index: 0;
}
.about_data_block::after {
  content: '';
  display: block;
  transform: translateX(10px);
  width: 81.5%;
  height: 1.5px;
  background-color: #555c66;
}
.about_data_menu {
  color: #555c66;
  display: inline-block;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 47px;
}
.about_data_text {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  height: 270px;
  width: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about_data_text_bt {
  color: #ffffff;
  position: absolute;
  top: 170px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #34ada7;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 31%;
  transition: .2s linear;
  height: 50px;
  padding-top: 10px;
}
.about_data_text_bt:hover {
  box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
}
.about_img_1 {
  transform: translate(-60px, 0);
  box-shadow: 50px 15px 15px 0 rgba(0, 0, 1, 0.5);
}
.about_img_2 {
  transform: translate(150px, -80px);
  box-shadow: 50px 15px 15px 0 rgba(0, 0, 1, 0.5);
}
.color_line {
  position: relative;
  z-index: 2;
  color: #34ada7;
}
.color_line::after {
  transform: translateY(-6px);
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #34ada7;
}
.adv {
  text-align: center;
  padding-bottom: 20px;
}
.adv_header {
  display: block;
  font-family: 'Freehand575 BT';
  font-size: 80px;
  color: #555c66;
  line-height: 0.8;
}
.adv_block {
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  color: #555c66;
  border: 3px solid #34ada7;
  margin: 10px;
  width: 280px;
  height: 202px;
}
.adv_block img {
  margin: 10px;
}
.adv_hover {
  text-align: left;
  position: absolute;
  background-color: #f0f0f0;
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  color: #555c66;
  border: 3px solid #34ada7;
  margin: 20px;
  width: 280px;
  height: 202px;
  box-shadow: 0 0 0 5px #f0f0f0, 0 0 0 10px #34ada7;
  animation: border .2s 1;
  z-index: 2;
}
.adv_hover_text {
  margin-top: 8px;
  margin-left: 5px;
}
.adv_hover_text img {
  transform: translateY(-2px);
}
.adv1 {
  transform: translate(100px, 70px);
}
.adv2 {
  transform: translate(385px, 70px);
  padding-top: 38px;
}
.adv3 {
  transform: translate(670px, 70px);
  padding-top: 44px;
}
.adv4 {
  transform: translate(100px, 292px);
  padding-top: 13px;
}
.adv5 {
  transform: translate(385px, 292px);
  padding-top: 6px;
}
.adv6 {
  transform: translate(670px, 292px);
  padding-top: 45px;
}
.staff {
  margin-bottom: 30px;
}
.staff_block {
  text-align: center;
}
.staff_block_text {
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  color: #555c66;
}
.staff_block_phone {
  color: #34ada7;
}
.staff_block_in {
  background-color: #f0f0f0;
  position: absolute;
  height: 250px;
  width: 85%;
  transform: translate(7px, -70px);
  z-index: -1;
}
.gallery {
  margin-top: 70px;
  text-align: center;
}
.gallery_block {
  display: inline-block;
  height: 200px;
  width: 200px;
}
.gallery_block_1 {
  background: url(../img/gallery_1_icon.jpg) 45% 45% no-repeat;
}
.gallery_block_2 {
  background: url(../img/gallery_2_icon.jpg) 45% 45% no-repeat;
}
.gallery_block_3 {
  background: url(../img/gallery_3_icon.jpg) 100% 100% no-repeat;
}
.gallery_block_4 {
  background: url(../img/gallery_4_icon.jpg) 45% 45% no-repeat;
}
.gallery_block_5 {
  background: url(../img/gallery_5_icon.jpg) 45% 45% no-repeat;
}
.gallery_block_6 {
  background: url(../img/gallery_6_icon.jpg) 45% 45% no-repeat;
}
.gallery_block_7 {
  background: url(../img/gallery_7_icon.jpg) 45% 45% no-repeat;
}
.gallery_block_over {
  position: absolute;
}
.gallery_block_over img {
  margin: 75px;
  opacity: 0;
}
.gallery_block_over:hover {
  cursor: zoom-in;
  animation: gallery_animation 1s 1;
  opacity: 0.6;
  background: #f0f0f0;
}
.gallery_bt {
  display: inline-block;
  color: #ffffff;
  top: 170px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #34ada7;
  padding-left: 10px;
  padding-right: 10px;
  transition: .2s linear;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 30px;
}
.gallery_bt:hover {
  box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
}
.fullscreen_img {
  z-index: 200;
  opacity: 1;
  align-items: center;
  position: absolute;
  transform: translateX(74%);
}
.fullscreen_img img {
  height: 600px;
  width: 600px;
}
.fullscreen_block {
  position: fixed;
  position: absolute;
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.fullscreen_close {
  display: none;
}
.btn_close {
  position: absolute;
  right: 150px;
  cursor: pointer;
}
.arrow_right {
  position: absolute;
  right: 100px;
  cursor: pointer;
}
.arrow_left {
  position: absolute;
  left: 100px;
  cursor: pointer;
}
.rew {
  margin-top: 30px;
  margin-bottom: 30px;
}
.reviews {
  padding-bottom: 40px;
}
.reviews_first {
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  color: #555c66;
  display: inline-block;
  width: 30%;
}
.reviews_first_about {
  position: absolute;
  margin-left: 15px;
  display: inline-block;
}
.reviews_first_about_name {
  font-weight: bold;
}
.reviews_first_about_tour {
  color: #34ada7;
}
.reviews_imgs {
  display: inline-block;
  width: 400px;
}
.reviews_imgs_p {
  transform: translateX(-5px);
}
.reviews_arrow_l {
  position: absolute;
  left: 100px;
  cursor: pointer;
  transform: translateY(-180px);
}
.reviews_arrow_r {
  position: absolute;
  right: 100px;
  cursor: pointer;
  transform: translateY(-180px);
}
.subscription_text {
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  color: #555c66;
}
.subscription_form {
  text-align: center;
}
.subscription_form_input {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}
.subscription_form_input_btn {
  border-radius: 0;
  margin-left: 10px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  background-color: #34ada7;
  transition: .2s linear;
}
.subscription_form_input_btn:hover {
  box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
}
.end {
  height: 300px;
  background: linear-gradient(180deg, #ffffff, #b3b3b3);
}
.end_sub {
  width: 40%;
  display: inline-block;
}
.end_sub_logo {
  margin-left: 100px;
  margin-top: 30px;
}
.end_sub_logo_text {
  display: inline-block;
  transform: translateY(30px);
  margin-left: 20px;
  font-family: 'Freehand575 BT';
  font-size: 70px;
  color: #34ada7;
}
.end_sub_text {
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  color: #555c66;
}
.end_sites {
  display: inline-block;
  margin-left: 100px;
  transform: translateY(-88px);
}
.end_sites_text {
  display: inline-block;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  color: #555c66;
}
.end_inst {
  display: inline-block;
  margin-left: 200px;
}
.end_inst_text {
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 18px;
  color: #555c66;
}
.end_inst_block {
  transform: translateX(-5px);
}
.end_inst_style {
  cursor: pointer;
}
.parallax-window {
  padding-bottom: 30px;
  padding-top: 30px;
}
@keyframes move_header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes border {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
  }
}
@keyframes gallery_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
@media (max-width: 1199.9px) {
  .main_topmenu {
    display: none;
  }
  .move_text {
    top: 220px;
  }
  video {
    height: 500px;
    width: 100%;
  }
  .vd {
    height: 520px;
  }
  .about_data {
    font-size: 20px;
    height: 400px;
  }
  .about_data_block {
    text-align: center;
  }
  .about_data_block::after {
    text-align: center;
    transform: translateX(0);
    width: 93%;
    height: 1.5px;
  }
  .about_data_menu {
    width: 30%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about_data_text {
    width: 100%;
  }
  .about_data_text_bt {
    top: 150%;
    margin-left: 38%;
    box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
  }
  .about_img_1 {
    height: 90%;
    width: 42%;
    transform: translate(10%, -45%);
  }
  .about_img_2 {
    height: 90%;
    width: 42%;
    transform: translate(20%, -45%);
  }
  .color_line::after {
    transform: translate(-25%, -17px);
    width: 150%;
  }
  .adv {
    font-size: 20px;
    background: url(../img/bg_1.jpg) 45% 45% no-repeat;
    background-position: center;
  }
  .adv1 {
    display: none;
  }
  .adv2 {
    display: none;
  }
  .adv3 {
    display: none;
  }
  .adv4 {
    display: none;
  }
  .adv5 {
    display: none;
  }
  .adv6 {
    display: none;
  }
  .staff_block {
    font-size: 20px;
    margin-bottom: 10%;
  }
  .gallery {
    background: url(../img/bg_2.jpg) 45% 45% no-repeat;
  }
  .gallery_bt {
    font-size: 20px;
    margin-top: 3%;
    box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
  }
  .gallery_block {
    display: none;
  }
  .gallery_sm .col-md-6 {
    margin-bottom: 10px;
  }
  .reviews_first {
    font-size: 20px;
    color: #555c66;
    width: 40%;
    transform: translateX(0);
  }
  .reviews_imgs {
    display: none;
  }
  .reviews_arrow_l {
    transform: translateY(-135px);
  }
  .reviews_arrow_r {
    transform: translateY(-135px);
  }
  .subscription_text {
    font-size: 20px;
  }
  .subscription_form {
    text-align: center;
  }
  .subscription_form_input {
    height: 60px;
  }
  .subscription_form_input_btn {
    margin-left: 0;
    padding-left: 51.5px;
    padding-right: 51.5px;
    box-shadow: 0 0 0 5px white, 0 0 0 10px #34ada7;
  }
  .subscription_xl {
    display: none;
  }
  .end_xl {
    display: none;
  }
  .end {
    font-size: 20px;
    text-align: center;
    height: auto;
  }
  .subscription {
    background: url(../img/bg_3.jpg) 45% 45% no-repeat;
  }
  .subscription_form_input_sm {
    margin-top: 30px;
    width: 100%;
  }
  .subscription_form_input_btn {
    margin-top: 30px;
  }
  .end_sites_text {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .sm_top {
    display: none;
  }
  .gallery_sm {
    display: none;
  }
  .subscription_sm {
    display: none;
  }
  .end_sm {
    display: none;
  }
  .adv {
    background: none;
  }
  .gallery {
    background: none;
  }
  .subscription {
    background: none;
  }
}
